<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961436030319-7lekiptvlkfdfsvnajjg1q55hcj7a28f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961436030319-7lekiptvlkfdfsvnajjg1q55hcj7a28f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>961436030319-5aac14n7dqhv0qe5tuj054qkikmd7sb8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfzy1GMUK9HLhrITDvqjJAYkbf0hLF_CI</string>
	<key>GCM_SENDER_ID</key>
	<string>961436030319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spendora</string>
	<key>PROJECT_ID</key>
	<string>spendora-88663</string>
	<key>STORAGE_BUCKET</key>
	<string>spendora-88663.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961436030319:ios:8e68ef3200896ffa71849a</string>
</dict>
</plist>